body {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-align: center;
}

.boards {
    position: relative;
    display: flex;
    gap: 24px;
}
.board {
    display: flex;
    flex-direction: column;
}

.board .row  {
    display: flex;
}
.tile {
    border: 1px solid #333;
    width: 100px;
    height: 100px;
    position: relative;
}
.tile img {
    width: 100%;
    height: 100%;
}
.tile-number {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    background: lightskyblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 1;
    z-index: 2;
    pointer-events: none;
}

/* 改行あるとemptyが効かない */
.player .tile:empty {
    background: #000;
}

.blurred { 
    filter: blur(25px);
    opacity: 0.4;
    pointer-events: none; 
    user-select: none; 
}

.controls {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}

/* ヒント機能のときに追加 */
.hint-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: orange;
    z-index: 3;
    pointer-events: none;
}
